@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

    <!-- Article and news section start-->
    <section class="article-and-news background-@Model.Value("articlesAndNewsBackgroundColor")">
        <div class="container">
            <div class="article-and-news-title">
                <h3>Article & News</h3>
                <div>
                    <h2>Get Every Single Articles & News</h2>
                    <button class="button-transparent"><span>Browse Articles</span><i class="fa-solid fa-arrow-trend-up"></i></button>
                </div>
            </div>
            <div class="article-and-news-grid">
                
                @{
                    var selection =	Umbraco.Content(Guid.Parse("97b35988-81f6-429d-bf40-308ac25e0695"))
                        .Children()
                        .Where(x => x.IsVisible())
                        .Take(3);
                }
                
                	@foreach (var item in selection)
                	{
                        <a href="@item.Url()" class="article-and-news-card">
                            <div>
                                <h6>@item.CreateDate.ToString("dd")</h6>
                                <p>@item.CreateDate.ToString("MMM")</p>
                            </div>
                            @{
                                var thumbnail = item.Value<IPublishedContent>("newsAndArticlesImage");
                            }
                            <img src="@thumbnail.Url()" />
                            <h3>@item.Value("newsAndArticlesCategory")</h3>
                            <h2>@item.Value("newsAndArticlesTitle")</h2>
                            <p>@item.Value("newsAndArticlesDescription")</p>
                        </a>
                	}

            </div>
            <div class="carousel-dots">
                <a class="carousel-dot"></a>
                <a class="carousel-dot active"></a>
                <a class="carousel-dot"></a>
                <a class="carousel-dot"></a>
                <a class="carousel-dot"></a>
            </div>
        </div>
    </section>
    <!-- Article and news section end-->
    
    



    
    






