@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;


    <!-- Features section start-->
    <section class="features">
        <div class="container">
            <div class="features-learn-more">
                <h6>Features</h6>
                <h3>Our Accounting is trusted by thousand of companies</h3>
                <a href="#" class="button-yellow"><span>Learn More</span><i class="fa-solid fa-arrow-trend-up"></i></a>
            </div>
            <div class="features-advice">
                <div class="feature-card">
                    <i class="fa-solid @Model.Value("featuredListItemIcon")"></i>
                    <h3>@Model.Value("featuredListItemTitle")</h3>
                    <p>@Model.Value("featuredListItemDescription")</p>
                </div>
                <div class="feature-card">
                    <i class="fa-solid @Model.Value("featuredListItemIconTwo")"></i>
                    <h3>@Model.Value("featuredListItemTitleTwo")</h3>
                    <p>@Model.Value("featuredListItemDescriptionTwo")</p>
                </div>
                <div class="feature-card">
                    <i class="fa-solid @Model.Value("featuredListItemIconThree")"></i>
                    <h3>@Model.Value("featuredListItemTitleThree")</h3>
                    <p>@Model.Value("featuredListItemDescriptionThree")</p>
                </div>
                <div class="feature-card">
                    <i class="fa-solid @Model.Value("featuredListItemIconFour")"></i>
                    <h3>@Model.Value("featuredListItemTitleFour")</h3>
                    <p>@Model.Value("featuredListItemDescriptionFour")</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature section end-->
    
                
    


    


            

            