@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    <!-- News and articles section start -->
    <section class="article-and-news">
        <div class="container">
            <h3>Our News & Articles</h3>
            <div class="article-and-news-grid">
                
                @{
                	var selection = Umbraco.Content(Guid.Parse("ef6a4241-281c-4017-b654-f0194bac4f3f"))
                    .Children()
                    .Where(x => x.IsVisible());
                }
                	@foreach (var item in selection)
                	{
		                <a  class="article-and-news-card">
                            <div>
                                <h6>@item.Value("articleDay")</h6>
                                <p>@item.Value("articleMonth")</p>
                            </div>
                            @{
                                var thumbnail = item.Value<IPublishedContent>("articleImage");
                            }
                            <img src="@thumbnail.Url()"/>
                            <h3>Business</h3>
                            <h2>@item.Value("articleTitle")</h2>
                            <p>@item.Value("articleDescription")</p>
                        </a>
                	}
                

            </div>
            <div class="carousel-pages">
                <button class="carousel-button"><i class="fa-solid fa-arrow-left"></i></button>
                <button class="carousel-button">1</button>
                <button class="carousel-button">2</button>
                <button class="carousel-button">3</button>
                <button class="carousel-button">...</button>
                <button class="carousel-button">9</button>
                <button class="carousel-button"><i class="fa-solid fa-arrow-right"></i></button>

            </div>
        </div>
    </section>
    <!-- News and articles section end -->
    
    <!--                 <a href="news-detail.html" class="article-and-news-card">
                    <img src="IMAGES/smiling-woman.svg" alt="smiling-woman">
                    <h3>Business</h3>
                    <h2>How To Use Digitalization In The Classroom</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </a>
                <a href="news-detail.html" class="article-and-news-card">
                    <img src="IMAGES/chatgpt.svg" alt="chat-gpt">
                    <h3>Business</h3>
                    <h2>How To Implement Chat GPT In Your Projects</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </a>
                <a href="news-detail.html" class="article-and-news-card">
                    <img src="IMAGES/css-book.svg" alt="css-book">
                    <h3>Business</h3>
                    <h2>The Guide To Support Modern CSS Design</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </a>
                <a href="news-detail.html" class="article-and-news-card">
                    <img src="IMAGES/notes.svg" alt="person-taking-notes">
                    <h3>Business</h3>
                    <h2>Why You Need To Implement The Five S's</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </a>
                <a href="news-detail.html" class="article-and-news-card">
                    <img src="IMAGES/office-lamps.svg" alt="an-office-with-lamps">
                    <h3>Business</h3>
                    <h2>Get More Involved With Your End Users</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </a>
                <a href="news-detail.html" class="article-and-news-card">
                    <img src="IMAGES/office.svg" alt="office">
                    <h3>Business</h3>
                    <h2>Guided Tour Of Our New Head Office In Stockholm</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </a>
                <a href="news-detail.html" class="article-and-news-card">
                    <img src="IMAGES/computer-28-feb.svg" alt="computer">
                    <h3>Business</h3>
                    <h2>Using Business Intelligence To Get Insights Into Our Businesses</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </a>
                <a href="news-detail.html" class="article-and-news-card">
                    <img src="IMAGES/glasses-18-feb.svg" alt="glasses-on-desk">
                    <h3>Business</h3>
                    <h2>Apple Has Released New Products. Are They Any Good?</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </a>
                <a href="news-detail.html" class="article-and-news-card">
                    <img src="IMAGES/desk-11-feb.svg" alt="desk">
                    <h3>Business</h3>
                    <h2>How To Improve Your Teams And Get A Better Result</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </a> -->