@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    <!-- News and articles section start -->
    <section class="article-and-news">
        <div class="container">
            <h3>Our News & Articles</h3>
            <div class="article-and-news-grid">
                
            @{

                var itemsPerPage = 6;
                var pageNumber = 1;

                if(!int.TryParse(Context.Request.Query["page"], out pageNumber))
                {
                    pageNumber = 1;
                }


                var selection = Umbraco?.Content(Guid.Parse("ef6a4241-281c-4017-b654-f0194bac4f3f"))?
                .Children()
                .Where(x => x.IsVisible());

                var totalItems = selection?.Count() ?? 0;
                var pagedItems = selection?.Skip((pageNumber - 1) * itemsPerPage).Take(itemsPerPage);
            }
                @if(pagedItems != null) 
                {
                    @foreach (var item in pagedItems)
                    {
                        <a href="@item.Url()" class="article-and-news-card">
                            <div>
                                <h6>@item.CreateDate.ToString("dd")</h6>
                                <p>@item.CreateDate.ToString("MMM")</p>
                            </div>
                            @{
                                var thumbnail = item.Value<IPublishedContent>("articleImage");
                            }
                            <img src="@thumbnail.Url()" />
                            <h3>@item.Value("articleCategory")</h3>
                            <h2>@item.Value("articleTitle")</h2>
                            <p>@item.Value("articleDescription")</p>
                        </a>
                    }
                }
                

            </div>
            <div class="carousel-pages">
                @if(pageNumber > 1) 
                {
                    <a href="?page=@(pageNumber - 1)" class="carousel-button"><i class="fa-solid fa-arrow-left"></i></a>
                }
                
                @for(int i = 1; i <= Math.Ceiling((decimal)totalItems / itemsPerPage); i++) 
                {
                
                    @if(i == pageNumber)
                    {
                        <a href="#" class="carousel-button active" >@i</a>
                    }
                    else 
                    {
                        <a href="?page=@i" class="carousel-button">@i</a>
                    }
                }
                
                
                @if(pageNumber < Math.Ceiling((decimal)totalItems / itemsPerPage)) 
                {
                    <a href="?page=@(pageNumber + 1)" class="carousel-button"><i class="fa-solid fa-arrow-right"></i></a>
                }
                

            </div>
        </div>
    </section>
    
